<!-- 4.1) Conteúdo responsívo em 1/2 colunas -->
<div class="page-row">

    <div class="page-div">
        <h2>Artigos recentes</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit excepturi delectus, quidem in illum
            amet, quam sunt temporibus placeat reiciendis velit quos! Veritatis praesentium accusamus ducimus recusandae
            suscipit molestiae alias.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio rerum nisi labore possimus aliquid
            praesentium dicta nobis harum saepe placeat expedita nemo unde, atque dolor consequuntur autem repudiandae.
            Libero, nostrum.</p>
        <h4>Links:</h4>
        <ul>
            <li><a href="http://luferat.net/">Site do Fessô</a></li>
            <li><a href="http://www.pi2c.tk/" target="_blank">Site do Projeto</a></li>
        </ul>
        <button routerLink="/" class="primary block">Faça alguma coisa</button>
    </div>

    <aside class="page-aside">
        <h3>SideBar</h3>
    </aside>

</div>